---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
import CardProject from '../components/CardProject.astro';
import CardTechnology from '../components/CardTechnology.astro';
import CardTool from '../components/CardTool.astro';
---

<Layout title="My Portfolio">
   <main class="w-[400px] lg:w-[100vw] m-auto">
      <Header />
      <section class="text-light mt-40 text-center block">
         <h1 class="font-bold text-3xl lg:text-6xl">Daniel Saavedra</h1>
         <h2 class="lg:text-3xl 2xl:text-4xl text-2xl text-light-700">
            Web Developer
         </h2>
      </section>
      <section class="min-[300px]:mt-20 text-center">
         <div class="w-[350px] lg:w-[90vw] h-1 bg-light-700 m-auto"></div>
         <div class="gap-10 lg:flex lg:flex-wrap block lg:justify-center">
            <CardProject
               title="Movie Tracker"
               description="Displays popular, current, upcoming and top-rated movies from TMDB"
               tag1="React"
               tag2="Vite"
               tag3="npm"
               tag4="Visual Studio Code"
               urlSite="https://mov-tracker.vercel.app"
               urlGit="https://github.com/kiudev/movie-tracker"
            />
            <CardProject
               title="Button Customizer"
               description="Customize your own button"
               tag1="React"
               tag2="Vite"
               tag3="npm"
               tag4="Visual Studio Code"
               urlSite="https://customize-button.vercel.app/"
               urlGit="https://github.com/kiudev/button-customizer"
            />
            <CardProject
               title="iOS Calculator"
               description="iOS Calculator with HTML, CSS and JS"
               tag1="HTML"
               tag2="CSS"
               tag3="JavaScript"
               tag4="Visual Studio Code"
               urlSite="https://calculator-kiudev.vercel.app"
               urlGit="https://github.com/kiudev/iOS-Calculator"
            />
         </div>
      </section>
      <Footer />
   </main>
</Layout>
