---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Projects from '../components/projects.astro';
import Footer from '../components/footer.astro'
---

<Layout title="My Portfolio">
	<main class="w-[1160px] h-screen m-auto">
		<Header />
		<section class="text-light mt-60">
			<h1 class="text-blue-400 font-bold text-5xl">
				<p>Hi!, I'm Daniel 👋</p>
			</h1>
			<div class="text-light">
				<p class="text-3xl">Front-End Developer</p>
			</div>
		</section>
		<Projects />	
	</main>
	<Footer />
</Layout>
	


