---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
import CardProject from '../components/CardProject.astro';
import CardTechnology from '../components/CardTechnology.astro';
---

<Layout title="My Portfolio">
  <main
    class="min-[300px]:w-[400px] lg:w-[1135px] 2xl:w-[1165px] h-screen m-auto transition-all"
  >
    <Header />
    <section class="text-light mt-60 min-[300px]:text-center lg:float-left">
      <h1
        class="text-blue-400 font-bold min-[300px]:text-4xl lg:text-5xl 2xl:text-6xl"
      >
        Hi!, I'm Daniel 👋
      </h1>
      <p
        class="lg:text-3xl 2xl:text-4xl lg:float-left min-[300px]:text-2xl text-light"
      >
        Front-End Developer
      </p>
    </section>
    <section
      class="lg:mt-[500px] min-[300px]:text-center xl:text-left min-[300px]:mt-40"
    >
      <header>
        <h1 class="text-light min-[300px]:text-2xl lg:text-3xl 2xl:text-4xl">
          Projects
        </h1>
      </header>
      <div class="flex gap-10 lg:flex min-[300px]:block">
        <CardProject
          title="The Sopranos"
          description="Build a web for my favourite TV-Series (UNFINISHED)"
          tag1="Astro"
          tag2="Tailwind"
          tag3="pnpm"
          tag4="Visual Studio Code"
          urlSite="https://thesopranos.vercel.app/"
          urlGit="https://github.com/kiudev/the-sopranos-page"
        />
        <CardProject
          title="Github Card"
          description="Simple github card for practice with React/Vite."
          tag1="React"
          tag2="Vite"
          tag3="npm"
          tag4="Visual Studio Code"
          urlSite="https://github-viewcard.vercel.app/"
          urlGit="https://github.com/kiudev/github-viewcard"
        />
      </div>
      <div class="flex gap-10 lg:flex min-[300px]:block">
        <CardProject
          title="Vercel"
          description="Vercel main page with Tailwind CSS"
          tag1="HTML"
          tag2="CSS"
          tag3="Tailwind"
          tag4="Visual Studio Code"
          urlSite="https://kiudev.github.io/vercel-mainpage/"
          urlGit="https://github.com/kiudev/vercel-mainpage"
        />
        <CardProject
          title="CodingWMarina2023"
          description="Repository of all my Java projects mades in first grade"
          tag1="Java"
          tag2="Java Swing"
          tag3="JDK"
          tag4="IntelliJ IDEA"
          urlSite="https://github.com/kiudev/CodingWMarina2023"
          urlGit="https://github.com/kiudev/CodingWMarina2023"
        />
      </div>
      <div class="flex place-content-center min-[300px]:mr-8">
        <CardProject
          title="CalculateShapes"
          description="Calculates the area of various shapes"
          tag1="Java"
          tag2="Java Swing"
          tag3="JDK"
          tag4="IntelliJ IDEA"
          urlSite="https://github.com/kiudev/CalculateShapes"
          urlGit="https://github.com/kiudev/CalculateShapes"
        />
      </div>
    </section>
    <section
      class="lg:mt-40 min-[300px]:text-center xl:text-left min-[300px]:mt-40"
    >
      <header>
        <h1 class="text-light min-[300px]:text-2xl lg:text-3xl 2xl:text-4xl">
          Technologies
        </h1>
        <div class="flex place-content-center gap-20">
          <!-- HTML5 -->
          <CardTechnology
            logo="/assets/html5.svg"
            alt="HTML Logo"
            text="HTML"
          />
          <CardTechnology logo="/assets/css.svg" alt="CSS Logo" text="CSS" />
          <CardTechnology logo="" alt="" />
          <CardTechnology logo="" alt="" />
        </div>
      </header>
    </section>
    <Footer />
  </main>
</Layout>
