/* The switch - the box around the slider */
.switch {
  font-size: 8px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
  margin-top: -15px;
}

.dark-mode {
  display: block;
}

.light-mode {
  display: none;
  margin-top: -25px;
}
