---
// Logo
const { logo } = Astro.props;
const { alt } = Astro.props;
// Name
const { name } = Astro.props;
// URL
const { url } = Astro.props;
---

<section>
  <a href={url} target="_blank"
    ><div
      id="button"
      class="grid justify-center border-2 border-blue-400 border-opacity-70 w-20 lg:w-[200px] 2xl:w-[180px] h-32 mt-10 rounded-xl hover:shadow-blue-400 hover:shadow-lg transition-all"
    >
      <div class="grid place-items-center">
        <header class="w-[54px] mt-1">
          <img src={logo} alt={alt} />
        </header>
        <footer class="text-light text-center -mt-5">
          <p>{name}</p>
        </footer>
      </div>
    </div>
  </a>
</section>
