<footer
   class="absolute left-0 right-0 2xl:bottom-0 text-light text-center py-5 bg-opacity-70"
>
   <p class="text-xl 2xl:text-2xl">
      Daniel Saavedra <span class="text-lg 2xl:text-xl">&#169;</span>
      <span id="copyright"></span>
   </p>
</footer>

<script>
   document.querySelector('#copyright').textContent = new Date()
      .getFullYear()
      .toString();
</script>
