---

---

<footer class="text-light text-center text-3xl mt-5 py-5 bg-opacity-70">
    <p class="text-xl">Daniel Saavedra <span class="text-lg">&#169;</span>
    <span id="copyright"></span></p>
</footer>

<script>
    document.querySelector('#copyright').textContent = new Date()
    .getFullYear()
    .toString();
</script>