---
// CSS
import "./styles/switch.css"
---

<header class="flex flex-wrap flex-row">
  <nav
    class="justify-between flex lg:ml-0 py-6 items-center bg-night bg-opacity-90 w-[100%]"
  >
    <div class="hover:scale-110 transition-all lg:flex">
      <a href="https://kiudev.vercel.app/"
        ><img
          class="min-[300px]:w-12 2xl:w-14"
          src="assets/dani.png"
          alt="Profile photo"
        /></a
      >
    </div>
    <ul
      class="text-light lg:text-[15px] 2xl:text-[17px] items-center"
    >
      <div class="w-[0.5px] h-7 bg-light min-[300px]:hidden"></div>
      <li class="flex gap-5">
        <a
          href="https://www.linkedin.com/in/daniel-saavedra-escuder-14222a210/"
          target="_blank"
        >
          <svg
            class="hover:text-blue-400 transition-all"
            width="27"
            height="27"
            stroke-width="1.5"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            color="#E8E8E8"
            name="LinkedIn"
            ><path
              d="M21 8v8a5 5 0 01-5 5H8a5 5 0 01-5-5V8a5 5 0 015-5h8a5 5 0 015 5zM7 17v-7"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"></path><path
              d="M11 17v-3.25M11 10v3.75m0 0c0-3.75 6-3.75 6 0V17M7 7.01l.01-.011"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
        </a>
        <a href="https://github.com/kiudev" target="_blank">
          <svg
            class="hover:text-blue-400 transition-all"
            width="27"
            height="27"
            stroke-width="1.5"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            color="#E8E8E8"
            name="Github"
            ><path
              d="M16 22.027v-2.87a3.37 3.37 0 00-.94-2.61c3.14-.35 6.44-1.54 6.44-7a5.44 5.44 0 00-1.5-3.75 5.07 5.07 0 00-.09-3.77s-1.18-.35-3.91 1.48a13.38 13.38 0 00-7 0c-2.73-1.83-3.91-1.48-3.91-1.48A5.07 5.07 0 005 5.797a5.44 5.44 0 00-1.5 3.78c0 5.42 3.3 6.61 6.44 7a3.37 3.37 0 00-.94 2.58v2.87M9 20.027c-3 .973-5.5 0-7-3"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
</header>
